<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-富文本.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B93B16121C15232200DB0136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B93B162B1C15232200DB0136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B93B16361C15232200DB0136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
